.project {
  margin-top: 40px;
}

.btn-add {
  background-color: #5932ea;
  color: #fff;
}

.btn-add:hover {
  background-color: #633cf0;
  color: #fff;
}

.list-project {
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 15px;
}
