.manage-user {
  margin-top: 40px;
}

.content-manage-user .search-bar {
  padding: 8px;
  border-radius: 10px;
  height: 40px;
}

.content-manage-user .search-bar input {
  background-color: transparent;
  border-style: none;
  color: #000;
  outline: none;
  width: 100%;
  margin-left: 10px;
}
